@model IEnumerable<OAuth2Server.Models.Client>

@{
    ViewBag.Title = "Clients";
}

<h2>@ViewBag.Title</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClientIdentifier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientSecret)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Callback)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Scope)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClientIdentifier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientSecret)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Callback)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Scope)
        </td>
    </tr>
}

</table>
