@model OAuth2Server.ViewModels.Home.ClientCredentialsGrantViewModel

@{
    ViewBag.Title = "Client credentials grant tester";
}

<h2>Submit a client credentials grant request</h2>

<section>
    <h2>Please enter the values you want to use.</h2>
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Client credentials grant request form</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.ClientId)
                    @Html.TextBoxFor(m => m.ClientId)
                    @Html.ValidationMessageFor(m => m.ClientId)
                </li>
                <li>
                    @Html.LabelFor(m => m.ClientSecret)
                    @Html.TextBoxFor(m => m.ClientSecret)
                    @Html.ValidationMessageFor(m => m.ClientSecret)
                </li>
                <li>
                    @Html.LabelFor(m => m.Scope)
                    @Html.TextBoxFor(m => m.Scope)
                    @Html.ValidationMessageFor(m => m.Scope)
                </li>
            </ol>
            <input type="submit" value="Submit request" />
        </fieldset>
    }
</section>

@{ Html.RenderPartial("AccessTokenResult");}