@model IEnumerable<OAuth2Server.Models.Authorization>

@{
    ViewBag.Title = "Authorizations";
}

<h2>@ViewBag.Title</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IssueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.ClientIdentifier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.OpenIDClaimedIdentifier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Scope)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpirationDateUtc)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IssueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.ClientIdentifier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.OpenIDClaimedIdentifier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Scope)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpirationDateUtc)
        </td>
    </tr>
}

</table>
